
<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>

<h1>All Blog Posts</h1>
<%= search_form_for @q do |f| %>
  <div class="field">
    <%= f.label :title, "Search by title" %>
    <%#= f.search_field :title %>
  </div>
  <div class="field">
    <%= f.label :s, "Sort by" %>
    <%= f.select :s, options_for_select([['Title Ascending', 'title asc'], ['Title Descending', 'title desc']]) %>
  </div>
  <div class="actions">
    <%= f.submit "Search" %>
  </div>
<% end %>

<% @posts.each do |post| %>
  <div>
    <h2><%= link_to post.title, post %></h2>
    <p><%= truncate(strip_tags(post.body), length: 200) %></p>
    <p><%= post.user.email %></p>
  </div>
<% end %>
  
<%= paginate @posts %>
